{:paths ["src" "resources"]
 :deps  {org.clojure/clojure   {:mvn/version "1.10.0"}
         cider/cider-nrepl     {:mvn/version "0.20.0"}
         refactor-nrepl        {:mvn/version "2.4.0"}
         org.clojure/data.csv  {:mvn/version "0.1.4"}
         duratom               {:mvn/version "0.4.1"}}}
